<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>一覧表示</title>

<link rel="stylesheet" href="/css/index.css"></head>
</head>
<body>
 <div class="wrapper"> 
 	<div class="ground">
    <h1 class="header">メンバーリスト</h1>
 
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>年齢</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${members}" th:object="${member}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{age}"></td>
                <td><a th:href="@{/member/{id}/edit(id=*{id})}">編集</a></td>
                <td>
                    <form th:action="@{/member/{id}(id=*{id})}" th:method="post">
                        <input type="submit" value="削除" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/member/new" class="footer">新規作成</a>
    </div>
</div>
</body>
</html>