<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

 <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>新規登録</title>

<link rel="stylesheet" href="/css/new.css"></head>
</head>
<body>
<div class="wrapper"> 
 	<div class="ground">
    <h1 class="header">新規登録</h1>
    <form th:action="@{/member}" th:method="post"  th:object="${member}">
        
      <div class="table"> 
        <div class="name">
             <label for="name">名前</label><br>
             <input type="text" name="name" th:field="*{name}">
             <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style = color:red></span>
       	</div>
        
         <div class="age">
             <label for="age">年齢</label><br>
             <input type="text" name="age" th:field="*{age}">
             <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style = color:red></span>
       	</div> 
       	
       	<div class="date">
             <label for="date">日付</label><br>
             <input type="date" name="date" th:field="*{date}">
             <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" style = color:red></span>
       	</div>
       	
       	
       	<select name="gender_id">
    	<!-- th:eachでcolorsの要素分ループをまわす -->
    	<!-- th:selectedで初期の選択値を指定する -->
    	<option
      		th:each="gender : ${gender}"
      		th:value="${gender.key}"
      		th:text="${gender.value}">
    	</option>
  		</select>
  		
  		<select name="blood_type_id">
    	<!-- th:eachでcolorsの要素分ループをまわす -->
    	<!-- th:selectedで初期の選択値を指定する -->
    	<option
      		th:each="bloodtype : ${bloodtype}"
      		th:value="${bloodtype.key}"
      		th:text="${bloodtype.value}">
    	</option>
  		</select>	
       	
      </div> 	
        <input type="submit" class="footer1" value="作成"/>
    </form>
    <a href="/member" class="footer2">一覧画面へ</a>
	</div>
</div>
</body>
</html>