#wrapper {
    margin: 0 auto;
    width: 1000px
}

.ground{
	height: 600px;
}

.header{
    font-size:30px;
    height: 40px;
    margin-left: 660px;
    padding-top: 30px;
}

.table{
	margin-left: 650px;
}

.footer1{
	margin-top: 20px;
	margin-left: 700px;
	margin-bottom: 20px;
}

.footer2{
	margin-left: 682px;
	
}
